
@{
    Layout = "/Views/Shared/Layout/_LayoutStore.cshtml";
}



@model IEnumerable<Producto>


<div class="container">

    <div class="row">

        @foreach (var item in Model)
        {


            <div class="col-lg-4">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.Imagen" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title @item.Nombre</h5>
                        <p class="card-text">@item.Descripcion </p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a> <br />
                        <br /> <a href="#" class="btn btn-primary">Ver detalle</a>
                    </div>

                </div>
            </div>

        }
    </div>
    </div>
