@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
    Layout = "/Views/Shared/Layout/_LayoutSESION.cshtml";

}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>
        Ha cerrado la sesión con éxito de la aplicación.
    </p>
</header>