
@{
    ViewData["Title"] = "Home Administrador";
    Layout = "/Views/Shared/Layout/_LayoutAdmi.cshtml";
}

    
   

<h1>@ViewData["Title"]</h1>
<center>
    <h1>
        Administrador
    </h1>
</center>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexAdmi</title>
</head>
<body>
</body>
</html>
