@{
    ViewData["Title"] = "ServiTech. Es igual a todo lo que necesitas.";

}


<section class="py-5">
    <div class="container">

        <h1 class="mb-4">Areas</h1><hr /><br />
        <!-- Marketing Icons Section-->
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <h4 class="card-header">Card Title</h4>
                    <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p></div>
                    <div class="card-footer"><a class="btn btn-primary" href="#!">Learn More</a></div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <h4 class="card-header">Card Title</h4>
                    <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p></div>
                    <div class="card-footer"><a class="btn btn-primary" href="#!">Learn More</a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100">
                    <h4 class="card-header">Card Title</h4>
                    <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p></div>
                    <div class="card-footer"><a class="btn btn-primary" href="#!">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="my-0" />

<!-- Portfolio Section-->
<section class="py-5 bg-light">
    <div class="container">
        <h2 class="mb-4"></h2>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#!">
                        <img class="card-img-top" src="~/assets/img/Reloj.jpeg" alt="..." />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#!">Reloj</a></h4>
                        <p class="card-text">
                            Smartwatch Pulsera Inteligente, MTQ Reloj Inteligente Deportivo, Reloj
                            Deportivo Pantalla Táctil de 1.4 Pulgadas Impermeable IP67 monitores de
                            actividad con Pulsómetro y Presión Arterial, Monitor de Calorías, Sueño,
                            Podómetro, GPS Monitor de Pasos.

                        </p>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#!">
                        <img class="card-img-top" src="~/assets/img/Funda de móvil Para Samsung Galaxy A21.jpg" alt="..." />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#!">Funda de móvil Para Samsung Galaxy A21 Forros, TPU, PC</a></h4>
                        <p class="card-text">Color: Azul marino, Negro, Plateado, Amarillo, Verde Pino.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#!"><img class="card-img-top" src="~/assets/img/web cam.jpg" alt="..." /></a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#!">Project Three</a></h4>
                        <p class="card-text">
                            Aluratek HD 1080P Cámara web de vídeo para PC,
                            MAC, escritorio y portátil, videollamada, conferencia,
                            USB (AWC04F)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#!">
                        <img class="card-img-top" src="~/assets/img/bocina.jpg" alt="..." />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#!">Altavoces Pyle</a></h4>
                        <p class="card-text">
                            Par de altavoces de estantería de escritorio HiFi
                            compatible con Bluetooth de 300 vatios compatible con
                            estantes de libros pasivos activos, monitor de estudio,
                            escritorio, sistema de altavoces estéreo con
                            AUX/RCA/USB, Pyle PBKSP22.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#!">
                        <img class="card-img-top" src="~/assets/img/Disco duro.jpg" alt="..." />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#!">Disco duro Toshiba</a></h4>
                        <p class="card-text">
                            Toshiba (HDTB420XK3AA) Canvio Basics - Disco duro
                            externo portátil (2 TB, USB 3.0), color negro.
                            Elegante diseño de perfil con un acabado mate, resistente a las manchas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#!">
                        <img class="card-img-top" src="~/assets/img/auriculares razer.jpg" alt="..." />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#!">Project Six</a></h4>
                        <p class="card-text">
                            Razer BlackShark V2 X Gaming Headset: 7.1 Surround
                            Sound. Control de
                            ruido:
                            Isolation acoustique,
                            Material: Titanium
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="my-0" />

<!-- Features Section-->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4">ServiTech. Es igual a todo lo que necesitas.</h2>
                <p> Somos una empresa comprometida con la calidad y satisfacción de nuestros clientes, ofreciéndoles soluciones tecnológicas de alto nivel así como productos de última generación.</p>
                Nos caracterizamos por:
                <ul>
                    <li>Responsabilidad.</li>
                    <li>Puntualidad en la entrega.</li>
                    <li>Ser líderes en precios</li>
                    <li>Alta calidad en el servicio.</li>
                    <li>Productos de última generación.</li>
                </ul>
                
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="~/assets/img/grupo.jpg"  alt="..." />
            </div>
        </div>
    </div>
</section>
<hr class="my-0" />

<!-- Call to Action-->
<aside class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p></div>
            <div class="col-md-4"><a class="btn btn-lg btn-secondary btn-block" href="#!">Call to Action</a></div>
        </div>
    </div>
</aside>

