@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/Layout/_LayoutStore.cshtml";
}


<!-- Page Content-->
<section class="py-5">
    <div class="container">
        <!-- Page Heading/Breadcrumbs-->
        <h1>Sobre serviTech</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="Home/Index">Inicio</a></li>
            <li class="breadcrumb-item active">Sobre Nosotros</li>
        </ol>
        <!-- Intro Content-->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="~/assets/img/servitech2.jpg" alt="..." />
            </div>
            <div class="col-lg-6">
                <h2>Sobre ServiTech</h2>

                <p>
                   
                </p>
                <p>
                    Nos caracterizamos por:
                    <ul>
                        <li />
                        <li />
                        <li />
                        <li />
                        <li />
                    </ul>
                  


                <p>
                    Somos una compañía que presta sus servicios en comercialización de productos de última tecnología
                    en computación y comunicación.
                    Para la satisfacción de sus necesidades brindamos a nuestros clientes;
                    confianza, sólido respaldo y garantía efectiva en toda su mercadería, 
                    con productos certificados de excelente calidad con servicio técnico experimentado
                    y capacitado. Respetando ordenanzas y disposiciones de organismos nacionales e 
                    internacionales de comercio y laborales.
                </p>
            </div>
        </div>
    </div>
</section>
<hr class="my-0" />
<!-- Team Members Section-->
<section class="py-5 bg-light">
    <div class="container">
        <h2 class="mb-4">Nuestro equipo</h2>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/assets/img/1A.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Centhia Bowman</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Directora ejecutiva</h6>
                        <p class="card-text text-justify">Toma las decisiones de alto nivel sobre política y estrategia empresarial. Como líder, asesora a la junta de directores, motiva a los empleados y cambia las unidades dentro de la organización, y como gerente preside las operaciones de la organización a lo largo del tiempo en la empresa.</p>
                    </div>
                    <div class="card-footer"><a href="#!">Natleebowman@gmail.com</a></div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/assets/img/7A.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Daniel Valdes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Director de operaciones </h6>
                        <p class="card-text text-justify">Supervisa como esta funcionando el sistema de creacion y distribucion de los productos de la tienda online.</p>
                    </div>
                    <div class="card-footer"><a href="#!">villadaniel2002@gmail.com</a></div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/assets/img/4A.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Yeidry Diaz</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Directora de ventas</h6>
                        <p class="card-text text-justify">
                            Un director de ventas es crucial para impulsar las ganancias y ventas de una organización. Un buen Director de ventas puede afectar el rendimiento general de una empresa, ya que son ellos los que contratan, gestionan y apoyan al personal de ventas de una organización.
                        </p>
                    </div>
                    <div class="card-footer"><a href="#!">yeiscarlet09@gmail.com</a></div>
                </div>
            </div>



            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/assets/img/3A.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Sebastian peña</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Director financiero </h6>
                        <p class="card-text text-justify">Es el ejecutivo a cargo de la gestión financiera de la organización. Es responsable de la planificación, ejecución e información financieras. Generalmente reporta directamente al director ejecutivo de la empresa.</p>
                    </div>
                    <div class="card-footer"><a href="#!">Itzandymonegro@gmail.com</a></div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/assets/img/2A.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Olyver Meran</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Community manager </h6>
                        <p class="card-text text-justify">Es un profesional de marketing digital responsable de la gestión y desarrollo de la comunidad online de una marca o empresa en el mundo digital. En estas funciones de gestión y desarrollo.</p>
                    </div>
                    <div class="card-footer"><a href="#!">olyvertareas@gmail.com</a></div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/assets/img/5A.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Felix Fonseca</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Director de Recursos Humanos </h6>
                        <p class="card-text text-justify">Los directores de recursos humanos (RRHH) trabajan con los gerentes de la empresa para ayudar con el reclutamiento y la selección.</p>
                    </div>
                    <div class="card-footer"><a href="#!">felixaldana10@hotmail.com</a></div>
                </div>
            </div>


             <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/assets/img/6A.jpg" alt="..." />
              <div class="card-body">
                    <h4 class="card-title">Rendy Peña</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Director de logística </h6>
                    <p class="card-text text-justify">
                        Es responsable de dirigir las operaciones logísticas de la empresa,
                        comprendiendo tanto los aspectos económicos como los operativos
                    </p>
                </div>
                <div class="card-footer"><a href="#!">Rendypenalazala412@gmail.com</a></div>
            </div>
        </div>






        </div>
    </div>
</section>
<hr class="my-0" />
<!-- Our Customers Section-->
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Our Customers</h2>
        <div class="row">
            <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
        </div>
    </div>
</section>

<style>
    .container {
        text-align: justify;
    }
</style>