@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/Layout/_LayoutSESION.cshtml";
}


<!-- Page Content-->
<section class="py-5">
    <div class="container">
        <!-- Page Heading/Breadcrumbs-->
        <h1>Sobre serviTech</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="Home/Index">Inicio</a></li>
            <li class="breadcrumb-item active">Sobre Nosotros</li>
        </ol>
        <!-- Intro Content-->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="~/assets/img/servitech2.jpg" alt="..." />
            </div>
            <div class="col-lg-6">
                <h2>Sobre ServiTech</h2>

                <p>
                    ServiTech es una empresa que se dedica a la venta de aparatos tecnológicos de manera online, de modo, que de esta manera es más fácil para nuestros clientes satisfacer sus necesidades, esto se debe por el simple hecho de ser online, ya que de esta manera consumen menos de su tan apreciado tiempo. Al combinar venta online, con un maravilloso y excepcional servicio, nos convierte en los #1 del mercado.
                </p>
                <p>
                    Ofrecemos todo tipo de aparatos tecnológicos, como por ejemplo: Monitores, Teclados, Bocinas, Auriculares, CPU (gabinete), Mouse, Covers, Celulares (media y alta gama), Cargadores, Laptops, Baterías y miles de cosas más.
                </p>
                <p>
                    Contamos con múltiples plataformas para que los clientes tengan una mejor experiencia, ya sea viendo los productos, compartiendo y comentando los mismos.

                </p>
            </div>
        </div>
    </div>
</section>
<hr class="my-0" />
<!-- Team Members Section-->
<section class="py-5 bg-light">
    <div class="container">
        <h2 class="mb-4">Our Team</h2>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Team Member</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer"><a href="#!">name@example.com</a></div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Team Member</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer"><a href="#!">name@example.com</a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Team Member</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer"><a href="#!">name@example.com</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="my-0" />
<!-- Our Customers Section-->
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Our Customers</h2>
        <div class="row">
            <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
            <div class="col-lg-2 col-sm-4"><img class="img-fluid" src="https://via.placeholder.com/500x300" alt="..." /></div>
        </div>
    </div>
</section>

<style>
    .container {
        text-align: justify;
    }
</style>