@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/Layout/_LayoutStore.cshtml";
}

<h1> estoy en carrito </h1>